<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BasketNS">
	<!-- 
	<select id="selectBasketsById" parameterType="java.lang.String" resultType="BasketVO">
		select * from sell where identifier in (select identifier from basket where id=#{id})
	</select>
	-->
	
	<select id="selectBasketsById" parameterType="java.lang.String" resultType="BasketVO">
		select * from basket where id=#{id}
	</select>
	
	<select id="selectBasket" parameterType="BasketVO" resultType="BasketVO">
		select * from basket where id=#{id} AND identifier=#{identifier}
	</select>
	
	<insert id="insert" parameterType="BasketVO">
		insert into basket(id, identifier) values(#{id}, #{identifier})
	</insert>
	
	<delete id="delete" parameterType="BasketVO">
		delete from basket where id=#{id} AND identifier=#{identifier}
	</delete>
	
</mapper>